@import url("style.css");


.club{
    background-color: #000;
    height: 800px;
}

#titulo{
    color: var(--primary-color);
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 36px;
}

#subtitulo{
    color: var(--primary-color);
    padding-bottom: 30px;
    font-size: 20px;
}

.grupo{
    border: none;
}

.campo{
    margin: 10px;
    font-size: 16px;
}


/*.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}*/

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1.5em;
    color: yellow;
    background-color: black;
    border-radius: 5px;
}

.input_field{
    width: 100%;
}

textarea{
    resize: vertical;
}

.campo label {
    margin-bottom: 5px;
    color: var(--primary-color);
    display: block;
    font-size: 16px;
}

.btn-area{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botao {
    font-size: 1.2em;
    background: white;
    border: 0px;
    margin-bottom: 30px;
    color: black;
    padding: 5px 20px;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px 1px white;
}

.botao:hover {
    background: green;
    box-shadow: inset 2px 2px 2px black;
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

/*

#check{
    display: inline-block;
}

fieldset {
    border: 0;
}

body {
    background-color:black;
    background-image: url('./imgs/tape.png');
    font-family: var(--family-titles);
     font-size: 1em; 
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}


fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px white;
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: black;
}
*/


@media screen and (min-width: 1024px){
    .grupo{
        display: flex;
    }
}
