@import url("style.css");

body{
    margin: 0;
    background-image: url('./imgs/tape.png');
    background-color: #000;
    background-size: contain;
}

.logo{
    display: block;
    object-fit: cover;
    object-fit: cover;
    width: 200px;
    height: 100%;
    margin-right: 20px;
}

.navbar {
    position: relative;
    list-style: none;
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu-icon{
    width: 50px;
    height: 50px
}

.bt_menu{
    background-color: transparent;
    border: 0px;
    position: absolute;
    top: 30px;
    right: 20px;
}


.nav{
    padding: 30px;
    background-color: var(--primary-color);
    -webkit-box-shadow: 5px 5px 15px 5px #00000046; 
    box-shadow: 5px 5px 15px 5px #00000046;
}

.nav-link{
    color: black;
    padding: 0px 10px;
    font-family: var(--family-titles);
}

.nav-link:hover{
    color: #120a8f;
}

.about{
    padding: 40px 0px;
    /* margin: 50px 15px; */
    margin: 50px 75px;
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.767); */
    background-color: rgba(0, 0, 0, 0.977);
}

.about-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about .history{
    margin: 0px 20px;
    padding-bottom: 30px;
}

.about .history > .title{
    font-size: 26px;
    margin-bottom: 26px;
    font-family: var(--family-titles);
}

.about .history > .text{
    font-size: 22px;
    font-family: var(--family-texts);
    text-align: justify;
}

.about .image{
    margin-top: 30px;
    position: relative;
}

.about .image img{
    width: 100%
}

/* Responsive */

@media screen and (max-width: 1024px){
    .navbar{
        margin-top: 20px;
        justify-content: space-between;
    }
    .nav-link {
        display: none;
    }
    .logo {
        display: block;
    }
}


@media screen and (min-width: 1024px){
    .about-block{
        flex-direction: row;
    }
    .about .history{
        max-width: 50%;
        margin-bottom: 0px;
    }
    .about .image{
        max-width: 40%;
    }
}


@media screen and (min-width: 1025px){
    .bt_menu{
        display: none;
    }
    .nav-link {
        display: inline-flex;
    }
}

.mobile-menu{
    text-align: center;
    margin-top: 20px;
    display: block;
}

.mobile-menu-closed{
    display: none;
}