/*  Global Variables  */

:root {
    --primary-color: #f7f700;
    --secondary-color: #000;
    --family-titles: FontB99;
    --family-texts: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: 'FontB99';
    src:  url('./fonts/CGF\ Locust\ Resistance.ttf');
}

/* General Classes */

a{
    text-decoration: none;
}

.d-flex{
    display: flex;
    flex-direction: row;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.align-content-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

@media (min-width: 1200px){
    .container{
        max-width: 1140px;
        width: 100%;
         /* padding-right: 15px; */
        padding-right: 5px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}