@import url(style.css);

.conteudo{
    padding: 40px 0px;
    margin: 50px 75px;
    color: #fff;
    font-family: var(--family-titles);
    background-color: rgba(0, 0, 0, 0.977);
}

.conteudo .titulo{
    color: white;
    text-align: center;
    font-size: 26px;
    margin-bottom: 26px;
    font-family: var(--family-titles);
}

.conteudo > .temporadas{
    font-size: 22px;
    font-family: var(--family-texts);
    text-align: center;
}

.box{
    justify-content: space-around;
    width: 100%;
}

.video-frame{
    width: 350px;
    height: 38vh;
}


@media screen and (max-width: 425px){
    .video-frame{
        width: 300px;
        height: 38vh;
    }
}

@media screen and (max-width: 768px){
    .box{
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
    }
}